<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.asd.hsms.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>uts.asd.hsms.controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.asd.hsms.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uts.asd.hsms.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobManagementServlet</servlet-name>
        <servlet-class>uts.asd.hsms.controller.JobManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobBoardServlet</servlet-name>
        <servlet-class>uts.asd.hsms.controller.JobBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedServlet</servlet-name>
        <servlet-class>uts.asd.hsms.controller.FeedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobReviewServlet</servlet-name>
        <servlet-class>uts.asd.hsms.controller.JobReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>uts.asd.hsms.controller.AttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>uts.asd.hsms.controller.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>uts.asd.hsms.controller.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDeniedServlet</servlet-name>
        <servlet-class>uts.asd.hsms.controller.LoginDeniedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessagesServlet</servlet-name>
        <servlet-class>uts.asd.hsms.controller.MessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarServlet</servlet-name>
        <servlet-class>uts.asd.hsms.controller.CalendarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobManagementServlet</servlet-name>
        <url-pattern>/JobManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobBoardServlet</servlet-name>
        <url-pattern>/JobBoardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobReviewServlet</servlet-name>
        <url-pattern>/JobReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/AttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>FeedServlet</servlet-name>
        <url-pattern>/FeedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDeniedServlet</servlet-name>
        <url-pattern>/LoginDeniedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessagesServlet</servlet-name>
        <url-pattern>/MessagesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarServlet</servlet-name>
        <url-pattern>/CalendarServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
